services:
    novaas:
        build: 
            context: .
            args: 
                - "AAS_VERSION=${AAS_VERSION}"
        image: "registry.gitlab.com/novaas/catalog/nova-school-of-science-and-technology/novaas-v3:latest"
        environment:
            - "PORT_FORWARDING=${PORT_FORWARDING}" 
            - "HOST=${HOST}"
            - "BROKER_SERVICE_HOST=${BROKER_SERVICE_HOST}"
            - "BROKER_SERVICE_PORT=${BROKER_SERVICE_PORT}"
            - "REPO_LOCATION=${REPO_LOCATION}"
        ports:
            - "${PORT_FORWARDING}:1880"